      *{
            padding:0;
            margin: 0;
        }

        body{
          font-family: 'PT Serif', serif;
        }
        .header1{
            height: auto; 
            /* height:514px; */
            width:100%;                       
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            margin-bottom: 20px;
           
           
        }
          @media (max-width:600px){
          .header1{              
            height:auto;  
            margin-left: 0;
            margin-right: 0; 
            max-width: 600px;
            width: 600px;               
        } 
         }

         @media (max-width:1300px){
          .header1{                         
            margin-left: 0;
            margin-right: 0; 
            max-width: 1300px;
           
                    
        } 
         }
               
         .innerhead {   
          position: relative;    
          /* background:url('./images/puppyn4.jpg')  no-repeat center center;   */
          background-size: cover;    
          height:614px; 
          width:100%;     
          /* width:1300px; */
          min-width: 200px;       
          margin:0 auto;
      }
       @media only screen and (max-width:600px){
        .innerhead{
          position: relative;
          /* background:url('./images/puppyn5.jpg')  no-repeat center center; */
          height: 300px;
         /* width:100%;*/
          max-width: 600px;
          width: 600px;       
        
      }
    }

  
      .innertext{
        width:500px ;
        height:250px ;
        opacity: 0.7;
        position: absolute;
        bottom: 30px;
        left: 100px;
        color:#161515;
        background-color: #fff;
        opacity: 0.5;
        padding: 20px;
        border-radius: 9px;
        line-height: 3em;
       
      }
    
    
    @media only screen and (max-width:1300px){
      .innerhead{       
       width:100%;
      }
    }  
    
 
    .menu1{
      max-width: 1300px;
      min-width: 600px;
      height: 40px;
      margin-left: auto;
      margin-right: auto;
      list-style-type: none;
     
    
  }
  .menu1 li{
    display:inline-block;          
    margin-top:9px;
   
}

  @media (max-width:600px) {
    .menu1{
      width: 200px;       
      height: 40px;
      list-style-type: none;
      margin-left: 0;
      margin-right: 0;
    
  }
}

  
  hr{
    max-width: 1300px;
    /* min-width: 600px; */
    margin-left: auto;
    margin-right: auto;
  }
  
  /* @media (max-width:600px) {
    hr{
    max-width: 600px;
    }
  } */
 
  
  .menu1 li a{
     
     font:  bold 14px Arial, Helvetica, sans-serif ;
      padding:5px;
      text-decoration: none;
      border:none;
     /* border: 2px solid #99c1c1;*/
      background-color: #ccffcc;
      border-radius: 7px;
  }
  .menu1 li a:hover{
      background-color:#99c1c1;
      padding: 10px;
      border: none;
  }
       
  

        /* Test change1  @media (max-width:600px){.innerhead{ new1
          position: relative;
          background-image:url('./images/Petsheader4.jpg');
          height: 500px;
          max-width: 1300px;  
          min-width: 600px;   
          /* min-width: 200px;  
          background-repeat: no-repeat;
          background-size: cover;
         margin:0 auto;
        }
      } */

   .logo{
       display: flex;
       flex-wrap: wrap;                
       padding-top:20px;
       padding-left: 20px;
       width: 400px;
       height: 60px;
  }
  .txtheader{
   
    color:white;
  }
        .logo img{
        width:100px;
        height:100px;
        opacity: 0.8;
         }
   .star{
        width:60px;      
        position: absolute;
        bottom: 15px;
        right: 010px;             
       /* position: fixed;
        bottom: 0;
        right: 0;*/
    }
   
     .container{    
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        width:100vw;
        min-width: 600px;         
        margin:0 auto;
        font-family:  Arial, Helvetica, sans-serif  ;
        font-size: 14px;
        color: #2f2d2e;
    }
    .classfooter{
      width: 100%; 
      max-width: 100vw;
      background-color:#2f2d2e !important;
      color: #fff;
      /* #a1e7cf; position: fixed;
      bottom: 0;
      left: 0; */
    
      }

      @media (max-width:600px){
        
    .classfooter{
      max-width:600px;  
      width: 600px;  
      background-color: #a1e7cf;
    
      }
      }
     
      
  @media (max-width: 768px) {
  .classfooter {
    padding: 20px; /* Increase padding for smaller screens */
  }
  }

  @media (max-width: 480px) {
  .classfooter {
    padding: 30px; /* Further increase padding for very small screens */
  }
  }
    .footercontainer{
    padding-top:20px;
    padding-left: 20px;;            
    display: flex;
    box-sizing: border-box;
    max-width: 1300px; 
    min-width: 200px;
    font-family:  Arial, Helvetica, sans-serif  ;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    color:  #fff;
    }

    .footercontainer a{
      color :#fff;
    }


    @media (max-width:600px){
      .footercontainer{
       max-width: 600px; 
       display:block;
      
      }
    }

    
 

    .columns1{
    width: 30%;     
    line-height: 2em;
    }
    .columns2{
    line-height: 2em;
    width: 30%;
    }
    .columns3{
    line-height: 2em;
    width: 30%;
    }    
 
    .columns1 ul li  {
      
      list-style-type: none;
    
    }
    .columns2 ul li  {
      
      list-style-type: none;
     
    }
    .columns3 ul li  {
      
      list-style-type: none;
     
    }
    .columns1 li  a{
        text-decoration: none;
        margin-bottom: 2em;
    }
    .columns2 ul li a{
        text-decoration: none;
    }
    .columns4 ul li{
    list-style-type: none;
    }
    .columns4 ul li{
    display: inline-block;
    padding-right:7px;
    }

    .columns5{
      float: right;
      color: #2f2d2e;
      font-size: 14px;
    }
    .navmain_navbar{
      width: 100%;
      /* height: 40px; */
      background-color: rgba(0, 0, 0, 0);
      columns: #161515;
      display: flex;
      /* gap: 7em; n*/
      background-color: #ECECEC;   
      flex-direction: row;
      padding: 6px 0 6px 6px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      justify-content:space-around;
      font-size: 20px;

      /* margin-bottom: 100px; */
    }
    .navmain_navbar button{
      border: none;
      font-size: 20px;
    }

    @media (max-width:600px) {
      .navmain_navbar{
      display: flex;  
      justify-content:start;
      gap:0;
      max-width: 600px;
      width: 594px;
     
      }
    }


  

    .navmain_navbar a{
      text-decoration: none;
      font-size: 14pt;
      /* color:#161515;  */
    }
    .navmain_navbar a:hover{
      text-decoration:underline;
      width:100px;
    
    }

    /*.dropdown-content a{display: block;}*/

  


    /* .dropdownmenu_show:hover  .dropdown-content{display: block;} */

    


    .dropdownmenu_show{
      
      display: block;
      color:darkblue;
     
    }
    .dropdownmenu_show ul{
      height: 300px;
    }
    .dropdownmenu_show ul{
      display: inline-block;
    }

    .dropdown-content { 
      background-color: #ECECEC;   
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-radius: 9px;
      position: absolute;
      /* background-color: #f9f9f9; 
      min-width: 160px;
      width: auto;*/ 
      z-index: 1;
     

    }
    
  .dropdown-content li{
      list-style-type: none;
     }
 
  .dropdown-content a{
       display: block;
       padding: 1em;
       border-radius: 9px;
      }
  .dropdown-content{
        display: none;
      }
 
  .dropdown-content a:hover{
       background-color:#dee2e6;
       width: auto;
       text-decoration: none;
      }

 #menu a:hover{
  background-color:#dee2e6;
  width: auto;
  text-decoration: none;
 }
    /*second dropdown*/
    .dropdown-content1 { 
      background-color: #ECECEC;   
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-radius: 9px;
      position: absolute;
      /* background-color: #f9f9f9; 
      min-width: 160px;
      width: auto;*/ 
      z-index: 1;
      color:#fff;

    }
    
    .dropdown-content1 li{
      list-style-type: none;
     }
 
     .dropdown-content1 a{
       display: block;
       padding: 1em;
       border-radius: 9px;
      }
       .dropdown-content1 {
        display: none;
      }  
      /*
       #myDropdown1{
        display: none;
      }   */
 
      .dropdown-content1 a:hover{
       background-color:#dee2e6;
       width: auto;
       text-decoration: none;
      }
    /*  */
   
    .itemmenu a{
      padding:10px;
      color:#161515;
    }

    .itemmenu a:hover{
      background-color:  #0b8579;
      color:white;
      padding: 7px 15px 7px 15px;
      opacity: 0.7;
      text-decoration: none;
    }



    .homebtn{
      background-color:  #0b8579;
      color:white;
      padding: 7px 15px 7px 15px;
      width: 120px;
      border-radius: 7px;
    }
   .content{
    
    width:100%;
  } 
  .wrapper h2{
    font-size: 47px;
    font-family: 'PT Serif', serif;
    text-align: center;
    color: #666262;
  }

  .sponsors-list img{

    width:60px;
  }
  .wrapper ul{
    display: flex;
    flex-wrap: wrap; 
    /* flex-direction: row; */
     justify-content: center;
     margin-top:30px;
  }

  @media only screen and  (max-width:600px) {
    .wrapper ul{   
      display: grid;
      margin-top:30px auto;
    }
    
  }

  @media (max-width:600px) {
    .wrapper  h2{
      color: crimson;
    }
    
  }
  .wrapper{
    margin-top:30px;
  }
  .wrapper li{
    list-style-type: none;
    flex-grow: 0;
    margin: 0 3% 10px;
    width: 60px;
    height: 60px;
    padding: 25px;
    background: #ddd;
    border-radius: 50%;
  }
  .show {
    display: block;
  }

  .dropbtn{
    cursor: pointer;
  }

  /*drp menu mobile*/
  .menu-icon { 
   
    font-size: 24px; cursor: pointer;
    display: none;
 } 

  .menu-icon ul { list-style-type: none; margin: 0; padding: 0; display: flex; } 
  .menu-icon li { margin: 0 10px; } 
  .menu-icon a { color: white; text-decoration: none; } 
  .hidden { display: none; } 
  
  @media (max-width: 600px) {
    .menu-icon  ul { flex-direction: column; width: 100%; } 
    .menu-icon  li { text-align: center; padding: 10px 0; } 
     /* .hidden { display: block; 
    }  */
  }

  @media (max-width:600px){
  .navmain_navbar{
  justify-content: space-between;
  }
}

  #menu li{
 list-style-type: none;
 padding: 1em;
  }

  #menu a:hover{
    background-color:#dee2e6;
  }
    @media (max-width:600px){
    .navmain_navbar .itemmenu{
      display: none;
    }
  }

  @media (max-width:600px){
  .dropdownmenu_show{
    display: none;
  }
} 
@media (max-width:600px){
  .dropdownmenu_show1{
    display: none;
  }
} 

 @media (max-width:600px) {
 .columns4{
  display: none;
 }
  
}  

  
   @media (max-width:600px){
  .menu-icon{
   display: block;
  }
} 



   
  /* .dropdown-content a{
    display: block;
  } */


  /* .wrapper ::before {
    border: 1px solid #e2dfd7;
    border-width: 1px 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin-top: -1px;
  
    top: 50%;
    width: 100%;
   
  } */